html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #00539F;
}

.body-wrapper {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  user-select: none;
  position: relative;
}

body {
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  -webkit-user-drag: none;
}

.button-container {
  display: flex;
  justify-content: space-around;

  button {
    background-color: #00539F;
    color: white;
    padding: 1rem;
    border-radius: 25%;
    border-width: 3px;
  }

  button:hover:not(:active) {
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  
}

.clickable {
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 75ms cubic-bezier(.47,2.5,.41,.8);
}

.clickable:active {
  transform: scale(.9);
}

.particle-holder {
  position: fixed;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
}

.item-particle {
  height: 50px;
  width: 50px;
  pointer-events: none;
}

.item-particle img {
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: contain;
}

.common {
  filter: drop-shadow(1px 1px 1px rgb(155, 155, 155)) 
  drop-shadow(-1px -1px 1px rgb(155, 155, 155));
}
.uncommon {
  filter: drop-shadow(1px 1px 1px green) 
  drop-shadow(-1px -1px 1px green);
}
.rare {
  filter: drop-shadow(1px 1px 1px blue) 
  drop-shadow(-1px -1px 1px blue);
}
.epic {
  filter: drop-shadow(2px 2px 2px purple) 
  drop-shadow(-2px -2px 2px purple);
}
.legendary {
  filter: drop-shadow(3px 3px 3px orange) 
  drop-shadow(-3px -3px 3px orange);
}
.mythical {
  filter: drop-shadow(3px 3px 3px cyan) 
  drop-shadow(-3px -3px 3px cyan);
}
.godly {
  filter: drop-shadow(3px 3px 4px red) 
  drop-shadow(-3px -3px 4px red);
}

.night-mode {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 1rem;
  top: 1rem;
  border: none;
  border-radius: 100%;
  background-color: white;
  background-image: url('../images/night-mode.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  z-index: 1;
}

.night-mode.active {
  background-image: url(../images/day-mode.png);
}

@media screen and (max-width: 768px) {
  .item-particle {
    width: 75px;
    height: 75px;
  }
}